# Dataframe to Database

In [1]:
# Import the modules
import pandas as pd
import sqlalchemy as sql
from pathlib import Path

## Import the AMEX CSV file into a Pandas DataFrame

In [2]:
# Read AMEX data from the Resources folder into a Pandas DataFrame
amex_df = pd.read_csv(
    Path('../Resources/amex_companylist.csv')
)

# Review the Pandas DataFrame
amex_df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,GOED,1847 Goedeker Inc.,6.6000,$40.33M,2020.0,Consumer Services,Home Furnishings,https://old.nasdaq.com/symbol/goed,NaN
1,XXII,"22nd Century Group, Inc",0.6130,$85.12M,NaN,Consumer Non-Durables,Farming/Seeds/Milling,https://old.nasdaq.com/symbol/xxii,NaN
2,FAX,Aberdeen Asia-Pacific Income Fund Inc,3.9100,$968.49M,1986.0,NaN,NaN,https://old.nasdaq.com/symbol/fax,NaN
3,IAF,Aberdeen Australia Equity Fund Inc,4.5367,$103.18M,NaN,NaN,NaN,https://old.nasdaq.com/symbol/iaf,NaN
4,AEF,"Aberdeen Emerging Markets Equity Income Fund, ...",6.4000,$324.81M,NaN,NaN,NaN,https://old.nasdaq.com/symbol/aef,NaN

## Create the Amex Database

In [3]:
# Database connection string
amex_connection_string = 'sqlite:///../Resources/amex.db'

In [4]:
# Database engine
amex_engine = sql.create_engine(amex_connection_string, echo=True)

In [5]:
# Add the AMEX dataframe to the database as a table.
amex_df.to_sql('AMEX', amex_engine,index=False, if_exists='replace')

2022-01-13 17:22:07,024 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("AMEX")
2022-01-13 17:22:07,026 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:07,029 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("AMEX")
2022-01-13 17:22:07,030 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:07,032 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-13 17:22:07,033 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:07,035 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("AMEX")
2022-01-13 17:22:07,035 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:07,038 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-13 17:22:07,039 INFO sqlalchemy.engine.Engine [raw sql] ('AMEX',)
2022-01-13 17:22:07,040 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("AMEX")
2022-01-13 17:22:07,041 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:07,042 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("AMEX")
2022-01-13 17:22:07,042 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:07,043 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-13 17:22:07,043 INFO sqlalchemy.engine.Engine [raw sql] ('AMEX',)
2022-01-13 17:22:07,045 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("AMEX")
2022-01-13 17:22:07,046 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:07,047 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("AMEX")
2022-01-13 17:22:07,047 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:07,048 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("AMEX")
2022-01-13 17:22:07,049 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:07,049 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("AMEX")
2022-01-13 17:22:07,050 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:07,050 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-13 17:22:07,051 INFO sqlalchemy.engine.Engine [raw sql] ('AMEX',)
2022-01-13 17:22:07,053 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-13 17:22:07,054 INFO sqlalchemy.engine.Engine
DROP TABLE "AMEX"
2022-01-13 17:22:07,055 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2022-01-13 17:22:07,057 INFO sqlalchemy.engine.Engine COMMIT
2022-01-13 17:22:07,060 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-13 17:22:07,063 INFO sqlalchemy.engine.Engine
CREATE TABLE "AMEX" (
	"Symbol" TEXT,
	"Name" TEXT,
	"LastSale" FLOAT,
	"MarketCap" TEXT,
	"IPOyear" FLOAT,
	"Sector" TEXT,
	industry TEXT,
	"Summary Quote" TEXT,
	"Unnamed: 8" FLOAT
)


2022-01-13 17:22:07,064 INFO sqlalchemy.engine.Engine [no key 0.00090s] ()
2022-01-13 17:22:07,066 INFO sqlalchemy.engine.Engine COMMIT
2022-01-13 17:22:07,068 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-13 17:22:07,074 INFO sqlalchemy.engine.Engine INSERT INTO "AMEX" ("Symbol", "Name", "LastSale", "MarketCap", "IPOyear", "Sector", industry, "Summary Quote", "Unnamed: 8") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-01-13 17:22:07,075 INFO sqlalchemy.engine.Engine [generated in 0.00450s] (('GOED', '1847 Goedeker Inc.', 6.6, '$40.33M', 2020.0, 'Consumer Services', 'Home Furnishings', 'https://old.nasdaq.com/symbol/goed', None), ('XXII', '22nd Century Group, Inc', 0.613, '$85.12M', None, 'Consumer Non-Durables', 'Farming/Seeds/Milling', 'https://old.nasdaq.com/symbol/xxii', None), ('FAX', 'Aberdeen Asia-Pacific Income Fund Inc', 3.91, '$968.49M', 1986.0, None, None, 'https://old.nasdaq.com/symbol/fax', None), ('IAF', 'Aberdeen Australia Equity Fund Inc', 4.5367, '$103.18M', None, None, None, 'https://old.nasdaq.com/symbol/iaf', None), ('AEF', 'Aberdeen Emerging Markets Equity Income Fund, Inc.', 6.4, '$324.81M', None, None, None, 'https://old.nasdaq.com/symbol/aef', None), ('FCO', 'Aberdeen Global Income Fund, Inc.', 6.58, '$57.41M', 1992.0, None, None, 'https://old.nasdaq.com/symbol/fco', None), ('ACU', 'Acme United Corporation.', 22.05, '$73.57M', 1988.0, 'Capital Goods', 'Industrial Machinery/Components', 'https://old.nasdaq.com/symbol/acu', None), ('ATNM', 'Actinium Pharmaceuticals, Inc.', 8.77, '$119.14M', None, 'Health Care', 'Major Pharmaceuticals', 'https://old.nasdaq.com/symbol/atnm', None)  ... displaying 10 of 293 total bound parameter sets ...  ('ZDGE', 'Zedge, Inc.', 1.51, '$18.42M', 2016.0, 'Technology', 'Computer Software: Prepackaged Software', 'https://old.nasdaq.com/symbol/zdge', None), ('ZOM', 'Zomedica Pharmaceuticals Corp.', 0.1026, '$57.87M', 2017.0, 'Health Care', 'Major Pharmaceuticals', 'https://old.nasdaq.com/symbol/zom', None))
2022-01-13 17:22:07,083 INFO sqlalchemy.engine.Engine COMMIT
2022-01-13 17:22:07,085 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-13 17:22:07,085 INFO sqlalchemy.engine.Engine [raw sql] ()

In [6]:
# Get the table names from the database
amex_engine.table_names()

2022-01-13 17:22:12,310 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-13 17:22:12,311 INFO sqlalchemy.engine.Engine [raw sql] ()

/Users/celeste/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['AMEX', 'AMEX_SYMBOLS']

In [7]:
# Create a dataframe from a subset of the columns
amex_symbols_df = amex_df[['Symbol','Name']]

In [8]:
# Create a table from the dataframe
amex_symbols_df.to_sql('AMEX_SYMBOLS', amex_engine, index=False, if_exists='replace')

2022-01-13 17:22:14,136 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("AMEX_SYMBOLS")
2022-01-13 17:22:14,136 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:14,139 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("AMEX_SYMBOLS")
2022-01-13 17:22:14,140 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:14,143 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-13 17:22:14,144 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:14,145 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("AMEX_SYMBOLS")
2022-01-13 17:22:14,146 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:14,147 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-13 17:22:14,148 INFO sqlalchemy.engine.Engine [raw sql] ('AMEX_SYMBOLS',)
2022-01-13 17:22:14,149 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("AMEX_SYMBOLS")
2022-01-13 17:22:14,150 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:14,151 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("AMEX_SYMBOLS")
2022-01-13 17:22:14,152 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:14,153 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-13 17:22:14,153 INFO sqlalchemy.engine.Engine [raw sql] ('AMEX_SYMBOLS',)
2022-01-13 17:22:14,154 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("AMEX_SYMBOLS")
2022-01-13 17:22:14,154 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:14,155 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("AMEX_SYMBOLS")
2022-01-13 17:22:14,156 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:14,157 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("AMEX_SYMBOLS")
2022-01-13 17:22:14,157 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:14,158 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("AMEX_SYMBOLS")
2022-01-13 17:22:14,159 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-13 17:22:14,160 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-13 17:22:14,161 INFO sqlalchemy.engine.Engine [raw sql] ('AMEX_SYMBOLS',)
2022-01-13 17:22:14,162 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-13 17:22:14,163 INFO sqlalchemy.engine.Engine
DROP TABLE "AMEX_SYMBOLS"
2022-01-13 17:22:14,163 INFO sqlalchemy.engine.Engine [no key 0.00049s] ()
2022-01-13 17:22:14,165 INFO sqlalchemy.engine.Engine COMMIT
2022-01-13 17:22:14,166 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-13 17:22:14,167 INFO sqlalchemy.engine.Engine
CREATE TABLE "AMEX_SYMBOLS" (
	"Symbol" TEXT,
	"Name" TEXT
)


2022-01-13 17:22:14,168 INFO sqlalchemy.engine.Engine [no key 0.00047s] ()
2022-01-13 17:22:14,169 INFO sqlalchemy.engine.Engine COMMIT
2022-01-13 17:22:14,171 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-13 17:22:14,174 INFO sqlalchemy.engine.Engine INSERT INTO "AMEX_SYMBOLS" ("Symbol", "Name") VALUES (?, ?)
2022-01-13 17:22:14,175 INFO sqlalchemy.engine.Engine [generated in 0.00224s] (('GOED', '1847 Goedeker Inc.'), ('XXII', '22nd Century Group, Inc'), ('FAX', 'Aberdeen Asia-Pacific Income Fund Inc'), ('IAF', 'Aberdeen Australia Equity Fund Inc'), ('AEF', 'Aberdeen Emerging Markets Equity Income Fund, Inc.'), ('FCO', 'Aberdeen Global Income Fund, Inc.'), ('ACU', 'Acme United Corporation.'), ('ATNM', 'Actinium Pharmaceuticals, Inc.')  ... displaying 10 of 293 total bound parameter sets ...  ('ZDGE', 'Zedge, Inc.'), ('ZOM', 'Zomedica Pharmaceuticals Corp.'))
2022-01-13 17:22:14,179 INFO sqlalchemy.engine.Engine COMMIT
2022-01-13 17:22:14,181 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-13 17:22:14,181 INFO sqlalchemy.engine.Engine [raw sql] ()

In [9]:
# Get the table names from the database
sql.inspect(amex_engine).get_table_names()

2022-01-13 17:22:18,726 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-13 17:22:18,727 INFO sqlalchemy.engine.Engine [raw sql] ()

['AMEX', 'AMEX_SYMBOLS']

## Reading SQL Tables into DataFrames

### Import the NASDAQ database

In [ ]:
# Database connection string
nasdaq_connection_string = 'sqlite:///../Resources/nasdaq.db'

In [ ]:
# Database engine
nasdaq_engine = sql.create_engine(nasdaq_connection_string, echo=True)

In [ ]:
# Get the table names from the database
nasdaq_engine.table_names()

## Read in the NASDAQ table into a Pandas DataFrame

In [ ]:
# Create a dataframe from the table 'NASDAQ'
nasdaq_df = pd.read_sql_table('NASDAQ', nasdaq_engine)

In [ ]:
# Review the Pandas DataFrame
nasdaq_df.head()

## Reading SQL Queries into DataFrames

In [ ]:
# Select all symbols and names from the Finance sector
sql_query = """
SELECT symbol, name
FROM NASDAQ
WHERE industry LIKE 'Finance%'
"""

In [ ]:
# Create a DataFrame from a SQL query
nasdaq_finance_symbols = pd.read_sql_query(sql_query, nasdaq_engine, index_col='Symbol')

In [ ]:
# Review the DataFrame
nasdaq_finance_symbols.head()